<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
       <script src=
        "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js">
            </script>


    <title>Document</title>
</head>

<div class="container">
    <ul class="nav navbar-nav navbar-top list-unstyled">
        <nav class="navbar navbar-expand sticky-top navbar">
            <a class="navbar-brand" href="/">homepage</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
            <a class="navbar-brand" href="/profile">profile</a>
            <a class="navbar-brand" href="/posts">posts</a>
    </nav>
    </ul>
    </div> 
<br /><br />
    <div class="header">
        <h1 class="text-center">Settings</h1>
        </div><br />

 
</head>

<body>
    <h3> dark mode</h3>
<div class="mode">
     Dark mode:             
<span class="change">OFF</span>
</div> 
<div>
    <br />

<img src="https://i.imgur.com/WVqmhxX.jpg">
</div>
  <style>
    /* dark mode */
body{
  padding:10% 3% 10% 3%;
  text-align:center;
  }
  
  
  .mode {
 text-align: center;
 float: none;
  }
  .change {
      cursor: pointer;
      border: 1px solid #555;
      border-radius: 40%;
      width: 20px;
      text-align: center;
      padding: 5px;
      margin-left: 8px;
  }

  .change .navbar {
      color: black;
  }
  
  .dark{
      background-color: #222;
      color: #e6e6e6;
  }


  h3 {
      text-align: center;
  }


  /* end dark mode */
  </style>

<script>
    $( ".change" ).on("click", function() {
        if( $( "body" ).hasClass( "dark" )) {
            $( "body" ).removeClass( "dark" );
            $( ".change" ).text( "OFF" );
            
        } else {
            $( "body" ).addClass( "dark" );
            $( ".change" ).text( "ON" );
        }
    });
</script>

</body>

</html>           
<body>
    <form action="/settings" method="post">
        username:<br>
        <input type="text" name="username" placeholder="username" required><br><br>
        password:<br>
        <input type="password" name="password" placeholder="password" required><br><br>
        <input type="submit" value="login">
    </form>
   <br /> <footer> unit 2 project, kaity hayes 2023 </footer>
</body>
</html>