<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <img src="https://i.imgur.com/j4DD7n0l.png">
</header>
<ul class="nav navbar-nav navbar-right">
    <li><a class="active" href="/settings">Settings</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/">Homepage</a></li>




</ul>
<body>
    
</body>
</html>